extends template.pug
block title&description
 title     
    | Assure Studios church SEO, and web design for churches call us at
    | 972-880-4218 for a free consultation.&quot;"
block bodyTag
  - var id ="home"
block banner
  .banner
    h1 Families Who Keep Loving Until They Get It Right Will Never Fail.
    img(src="./img/family.silou.png", alt="", srcset="")
    button.btn.btn-dark.btn-lg let's connect
    
block content 
 .sermon
  .container.sermon-section
   .row.sermon-container.justify-content-between
    .sermon.col-xl-7
      video(src='videos/dont_be_afraid.mp4' controls='')
    .sermon-content.col-xl-5
     h2.latest-sermon Latest Sermon
     h3.title Dont Be Afraid.
     .sub-title November 8 2020
     .video-info
     | Lorem ipsum dolor sit amet, consetetur sadipscing
     | elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     | aliquyam erat, sed diam voluptua. At vero.
     .sub-links-container
      a.sublinks(href='http://' target='_blank' rel='noopener noreferrer') espanol
      a.sublinks(href='http://' target='_blank' rel='noopener noreferrer') Download
 .container.line 
  hr
 .groups-section

  .container
   
   .row 
    .col-xl-4.kids-club
     img(src="./img/kids-group.jpeg")
     h3 DMBC kids club
     .info 2nd-5th grade
     p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    .col-xl-4 
     img(src="./img/teens-group.jpeg")
     h3 DMBC Teenz
     .info 2nd-5th grade
     p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    .col-xl-4 
     img(src="./img/adult-group.jpeg")
     h3 DMBC young adults
     .info 2nd-5th grade
     p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
 .white-bg-wrapper
  .prayer-groups.container.prayer-groups-margin
   h2 join a small group
   .prayer-groups-img 
    .prayer-info 
     h3 Where two are more or gathered!
     p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
     button.btn.btn-light.btn-lg Join A small Group
  .charitble-events.section-margin
   .container
      h2 Our giving Ministries 
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      .row 
       .col-xl-6
        img(src="./img/charity-africa.jpeg")
        h3 Learn about mission trips to Africa 
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        button.btn.btn-primary.btn-lg.mt-4.mb-5 Global Missions

       .col-xl-6 
        img(src="./img/charity-troops.jpeg")
        h3 Learn How We Donate to Our Troops
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        button.btn.btn-primary.btn-lg.mt-4.mb-5 Support our troops

  .testimony.container.section-margin 
      .row.justify-content-center 
       .col-xxl-12
        h2 this month's Testimony
        .row.section-padding.inner.flex-wrap-reverse
         .col-xl-6
          h3 
           i the johnson's story
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          button.btn.btn-primary.btn-lg.mt-5.mb-5 learn about the johnson's
         .col-xl-6
          img(src="./img/johnsons-testimony.jpeg")
      
 script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
 block append scripts 

