@import "./color.scss";
@import "./utilities.scss";

body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  background-color: $assureDark;

}
nav{
background-color: $whiteFontColor;
padding-right:3%;
padding-left: 3%;

}
nav .social-container{
  margin-left: 30px;
}

nav li{
text-transform: uppercase;
font-size: 1.2rem;
}

nav a:link{
  color: #000;
  text-decoration: none;
  
}
nav a:hover{
  color:darkblue;
  text-decoration: underline;
}
nav a:visited{
  color: #000;

}

nav svg{
  opacity: 0.9;
}
nav svg:hover{
  opacity: 1;
}
.navbar-brand{
  font-size: 1.4rem;
  text-transform: uppercase;
}
.navbar-brand svg{
margin-right:7px;
}
.section-padding{
  padding:5%;

}
.section-margin{
  margin-top:120px;
  margin-bottom:120px;
    }
h2{
  font-size: 3rem;
}
.banner {
  background-color: $primary-highlight;
  padding:8% 3%;
  display: flex;
  flex-flow: column;
  align-items: center;
}




.banner h1 {
    margin:100px 0px;
  color: $whiteFontColor;
  font-size: 7rem;
  text-align: center;
  
    padding: 0 15%;
  
}

.banner button{
  background-color: $blackFontColor;
  font-weight: 600;
  margin:75px 0px ;
  color:$whiteFontColor;
  max-width: 370px;
}
.prayer-groups-margin{
  margin-top:150px;
}
.sermon-section{
  background-color: $blackFontColor;
  color:$whiteFontColor;
  padding:1%;
  border-radius:20px 20px 0px 0px;
  top:-120px;
  position: relative;
}
.sermon-section h2{
  font-size: 3rem;
  margin-top:0px !important
}

.sermon-content{
  padding: 40px;
}
.sub-title{
  color:$primary-highlight;
}

.sub-links-container{
  margin-top:30px;

}

.sublinks{
  text-transform: capitalize;
  margin-right:15px;
  color: $secondary-highlight;

}
.groups-section{
  color:$whiteFontColor;
  background-color: $assureDark;
  padding:4% 7%
}
.groups-section h3{
  text-transform:capitalize;
  margin:15px 0px;
}
.groups-section .info{
font-size: 1.1rem;
color:$primary-highlight
}

.prayer-groups{
  color:$blackFontColor;


}

.prayer-groups-img{
  background-image: url("../img/prayer-groups.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  padding: 2%;
  height:35vh;
  min-height: 420px;

}
.prayer-groups img{
  width:max-content;
}
.prayer-groups button{
  background-color: $whiteFontColor;
  color:$blackFontColor;
  margin-top:30px;
  max-width: 275px;
  
}
.prayer-groups button span{
display: block;
}

.testimony .inner{
  background-color: $blackFontColor;
  color:$whiteFontColor
}
.testimony h3{
  font-size: 2rem;
  color:$secondary-highlight;
  text-transform:uppercase
}
.social-container a{
margin:0px 7px
}
footer{
  background-color: $blackFontColor; color: $whiteFontColor;
  text-align: center;
  padding:3%
}


